<div class="table-space">
  <div class="contract-table mat-elevation-z8">
    <mat-toolbar color="primary">
      Contratos
      <button class="toolbar-button" mat-icon-button (click)="provideService()">
        <mat-icon>work</mat-icon>
      </button>
    </mat-toolbar>
    <table mat-table [dataSource]="data">
  
      <ng-container matColumnDef="hiringCompany">
        <th mat-header-cell *matHeaderCellDef> Empresa Contratante </th>
        <td mat-cell *matCellDef="let contract"> {{contract.hiringCompany.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="hiredCompany">
        <th mat-header-cell *matHeaderCellDef> Empresa Contratada </th>
        <td mat-cell *matCellDef="let contract"> {{contract.hiredCompany.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="initial_date">
        <th mat-header-cell *matHeaderCellDef> Data Inicial </th>
        <td mat-cell *matCellDef="let contract">{{contract.initialDate}}</td>
      </ng-container>
  
      <ng-container matColumnDef="end_date">
        <th mat-header-cell *matHeaderCellDef> Data Final </th>
        <td mat-cell *matCellDef="let contract">{{contract.endDate}}</td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button (click)="addContract()">
            <mat-icon>person_add</mat-icon>
          </button>
          <!-- <button mat-icon-button (click)="provideService()">
            <mat-icon>work</mat-icon>
          </button> -->
        </th>
  
        <td mat-cell *matCellDef="let contract">
          <button mat-icon-button (click)="openContract(contract)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
  
          <button mat-icon-button (click)="deleteContract(contract.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  
  <div class="service-provision-table">
    <app-service-provision-list></app-service-provision-list>
  </div>
</div>