<div>
    <div class="modal-header">
        <h6 class="title-field">Criar Contrato</h6>
        <button mat-icon-button (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="contract-modal-add-form" [formGroup]="contractForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="company">Empresa Contratante:</label>
                <select formControlName="hiringCompany" class="form-control"
                    [ngClass]="{'is-invalid': submitted && f['hiringCompany']?.errors}">
                    <option [ngValue]="company" *ngFor="let company of companies">{{company.name}}</option>
                </select>
                <div *ngIf="submitted && f['hiringCompany']?.errors" class="invalid-feedback">
                    <div *ngIf="f['hiringCompany'].errors!['required']">Empresa Contratante é obrigatória</div>
                </div>
            </div>
            <div class="form-group">
                <label for="hiredCompany"> Empresa Contratada:</label>
                <select formControlName="hiredCompany" class="form-control"
                    [ngClass]="{'is-invalid': submitted && f['hiredCompany']?.errors}">
                    <option [ngValue]="company" *ngFor="let company of companies">{{company.name}}</option>
                </select>
                <div *ngIf="submitted && f['hiredCompany']?.errors" class="invalid-feedback">
                    <div *ngIf="f['hiredCompany'].errors!['required']">Empresa Contratada é obrigatória</div>
                </div>
            </div>
            <div class="form-group">
                <label for="initialDate">Data Inicial:</label>
                <input type="date" formControlName="initialDate" class="form-control"
                    [ngClass]="{'is-invalid': submitted && f['initialDate'].errors}" />
                <div *ngIf="submitted && f['initialDate'].errors" class="invalid-feedback">
                    <div *ngIf="f['initialDate'].errors['required']">Data Inicial é obrigatória</div>
                </div>
            </div>
            <div class="form-group">
                <label for="endDate">Data Final:</label>
                <input type="date" formControlName="endDate" class="form-control"
                    [ngClass]="{'is-invalid': submitted && f['endDate'].errors}" />
                <div *ngIf="submitted && f['endDate'].errors" class="invalid-feedback">
                    <div *ngIf="f['endDate'].errors['required']">Data Final é obrigatória</div>
                </div>
            </div>


            <button [disabled]="loading" color="primary" mat-raised-button>
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Criar
            </button>
        </form>
    </div>
</div>