.modal-header {
    width: 300px;
    margin-bottom: 10px;
}

.mat-dialog-content {
    text-align: center;
}

.employee-modal-add-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}