<div>
    <div class="modal-header">
        <h3>{{data.name}}</h3>
        <button mat-icon-button (click)="closeModal()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <div>
            <h4 class="admission-date-title">Data de Admissão</h4>
            <span>{{data.admissionDate | date: "mediumDate":"GMT":"pt-BR"}}</span>
        </div>
        <div>
            <h4>Empresa</h4>
            <span>{{data.company.name}}</span>
        </div>
    </div>
</div>